
.home {
  /* min-height: 100%; */
  background-size: contain;
  background-image: url("../../../assets/home.png");
  background-repeat: no-repeat;
  background-position: center;
  /* object-fit: cover; */
}
