<div class="flex flex-col p-4 relative">

  @if (showToast()) {

    <!-- From Uiverse.io by PriyanshuGupta28 -->
  <div class="toast bg-green-400">

      <div class="toast-content flex flex-col">
        <span class="text-lg font-semibold">Blog Post Created!</span>
        <span class="text-lg font-semibold">Rerouting you to blog</span>


      </div>
      <div class="toast-icon">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M15.795 8.342l-5.909 9.545a1 1 0 0 1-1.628 0l-3.182-4.909a1 1 0 0 1 1.629-1.165l2.556 3.953L14.165 7.51a1 1 0 0 1 1.63 1.165z"></path>
        </svg>
      </div>
    </div>
  }

  <div class="flex mx-3 items-center justify-center-safe gap-xp-4">
    @if (imgSrc() && !previewOn()) {

    <div class="w-full flex gap-6 flex-col items-center justify-center py-2">
        <span class="text-4xl text-center title">{{post().TITLE}}</span>
        <img height="400" width="400" [src]="imgSrc()" alt="thumbnail">


    </div>
    }
    @else if(!imgSrc() && !previewOn()) {
    <div class="h-32 flex justify-center-safe w-full relative">

      <svg fill="#000000" width="103px" height="103px" viewBox="0 0 35 35" data-name="Layer 2"
        id="b49257f9-f41f-4662-98a6-fc4d7e08843c" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M17.5,26.234a6.807,6.807,0,1,1,6.808-6.807A6.815,6.815,0,0,1,17.5,26.234Zm0-11.114a4.307,4.307,0,1,0,4.308,4.307A4.313,4.313,0,0,0,17.5,15.12Z">
          </path>
          <path d="M32.27,4.86H29.386a1.25,1.25,0,1,1,0-2.5H32.27a1.25,1.25,0,0,1,0,2.5Z"></path>
          <path
            d="M30.56,32.64H4.45a4.2,4.2,0,0,1-4.2-4.19V12.74a4.2,4.2,0,0,1,4.2-4.19H8.938L10.9,5.565A3.5,3.5,0,0,1,13.836,3.98h7.336A3.5,3.5,0,0,1,24.11,5.566L26.065,8.55H30.56a4.194,4.194,0,0,1,4.19,4.19V28.45A4.2,4.2,0,0,1,30.56,32.64ZM4.45,11.05a1.7,1.7,0,0,0-1.7,1.69V28.45a1.7,1.7,0,0,0,1.7,1.69H30.56a1.692,1.692,0,0,0,1.69-1.69V12.74a1.692,1.692,0,0,0-1.69-1.69H25.39a1.251,1.251,0,0,1-1.046-.565L22.02,6.936a1.013,1.013,0,0,0-.848-.456H13.836a1.012,1.012,0,0,0-.848.457l-2.329,3.546a1.254,1.254,0,0,1-1.049.567Z">
          </path>
        </g>
      </svg>

    </div>
    }
    <div class="flex flex-col gap-2 justify-end grow items-center">
      <div (click)="$event.stopPropagation(); this.showCategories.set(!this.showCategories())" class="flex flex-col  relative">
        <div class=" ">
          Category
        </div>
        <div class="border w-2xs border-gray-200 rounded-lg items-center gap-4 bg-white  justify-between px-4 py-2">
          <div class="flex flex-wrap h-full gap-2">
            @for (item of selectedCategories(); track $index) {
              <span (click)="updateCategories(item)" class="bg-blue-500 hover:cursor-pointer text-xs text-white px-4 py-2">
                {{item}}
              </span>
            }

          </div>

   <div>
              <svg width="16" height="16">
      <path d="M2 5 L8 11 L14 5" stroke="black" fill="none" />
    </svg>
        </div>
        </div>

        <!-- <label for="category">Category</label>
        <select class="border border-gray-200 rounded p-2 bg-white" name="category" id="category">
          <option ></option>

        </select> -->

        @if (showCategories()) {
          <div class="absolute top-[100%] left-[-4%] bg-white z-50 rounded p-4 border border-gray-300">
          <div (click)="$event.stopPropagation(); updateCategories('Cookies')"  class="flex hover:cursor-pointer hover:bg-blue-400 rounded px-2 py-1 transition-all gap-2" >
             <label for="cookies">Cookies</label>
          </div>
          <div (click)="$event.stopPropagation();updateCategories('Cakes')"  class="flex hover:cursor-pointer hover:bg-blue-400 rounded px-2 py-1 transition-all gap-2" >
             <label for="Cakes">Cakes</label>
          </div>
          <div (click)="$event.stopPropagation();updateCategories('Asian Desserts')" class="flex hover:cursor-pointer hover:bg-blue-400 rounded px-2 py-1 transition-all gap-2" >
             <label for="AsianDesserts">Asian Desserts</label>
          </div>
          <div (click)="$event.stopPropagation();updateCategories('Bread')" class="flex hover:cursor-pointer hover:bg-blue-400 rounded px-2 py-1 transition-all gap-2" >
             <label for="Bread">Bread</label>
          </div>
          <div (click)="$event.stopPropagation();updateCategories('Holidays')" class="flex hover:cursor-pointer hover:bg-blue-400 rounded px-2 py-1 transition-all gap-2" >
             <label for="Holidays">Holidays</label>
          </div>
          <div (click)="$event.stopPropagation();updateCategories('Everyday Baking')" class="flex hover:cursor-pointer hover:bg-blue-400 rounded px-2 py-1 transition-all gap-2" >
             <label for="EverydayBaking">Everyday Baking</label>
          </div>
          <div (click)="$event.stopPropagation();updateCategories('Gifting')" class="flex hover:cursor-pointer hover:bg-blue-400 rounded px-2 py-1 transition-all gap-2" >
             <label for="Gifting">Gifting</label>
          </div>
          </div>
        }

      </div>
      <div class="flex items-center gap-1 justify-between w-full">
        <div (click)="thumbnail.click()" (change)="onFileChange($event)"
          class="me-2 p-2 relative group hover:cursor-pointer">
          <svg width="30px" height="30px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
            fill="#000000">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <title>image-picture</title>
              <desc>Created with Sketch Beta.</desc>
              <defs> </defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="Icon-Set" sketch:type="MSLayerGroup" transform="translate(-360.000000, -99.000000)" fill="#000000">
                  <path
                    d="M368,109 C366.896,109 366,108.104 366,107 C366,105.896 366.896,105 368,105 C369.104,105 370,105.896 370,107 C370,108.104 369.104,109 368,109 L368,109 Z M368,103 C365.791,103 364,104.791 364,107 C364,109.209 365.791,111 368,111 C370.209,111 372,109.209 372,107 C372,104.791 370.209,103 368,103 L368,103 Z M390,116.128 L384,110 L374.059,120.111 L370,116 L362,123.337 L362,103 C362,101.896 362.896,101 364,101 L388,101 C389.104,101 390,101.896 390,103 L390,116.128 L390,116.128 Z M390,127 C390,128.104 389.104,129 388,129 L382.832,129 L375.464,121.535 L384,112.999 L390,118.999 L390,127 L390,127 Z M364,129 C362.896,129 362,128.104 362,127 L362,126.061 L369.945,118.945 L380.001,129 L364,129 L364,129 Z M388,99 L364,99 C361.791,99 360,100.791 360,103 L360,127 C360,129.209 361.791,131 364,131 L388,131 C390.209,131 392,129.209 392,127 L392,103 C392,100.791 390.209,99 388,99 L388,99 Z"
                    id="image-picture" sketch:type="MSShapeGroup"> </path>
                </g>
              </g>
            </g>
          </svg>
          <!-- Tooltip container -->
          <div
            class="absolute left-1/2 -translate-x-1/2 top-full mb-2 hidden group-hover:block w-max bg-black text-white text-xs rounded px-2 py-1">
            Upload Thumbnail

            <!-- Arrow pointing down -->
            <div
              class="absolute left-1/2 -translate-x-1/2 bottom-full h-0 w-0 border-l-4 border-r-4 border-b-4 border-l-transparent border-r-transparent border-b-black">
            </div>
          </div>
          <input #thumbnail style="display: none;" type="file" name="thumbnail" id="thumbnail">
        </div>

        <div (click)="previewOn.set(!previewOn())" class="me-2 p-2 relative group hover:cursor-pointer">

          <svg fill="#000000" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" xml:space="preserve" width="30px"
            height="30px">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <style type="text/css">
                .st0 {
                  fill: none;
                }
              </style>
              <path
                d="M4,3C2.9,3,2,3.9,2,5v14c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2V5c0-1.1-0.9-2-2-2H4z M4,5h16v14H4V5z M12,8c-3.3,0-6,3.3-6,4 s2.7,4,6,4s6-3.5,6-4S15.3,8,12,8z M12,9.5V11c0,0.6,0.4,1,1,1h1.5c0,1.6-1.5,2.8-3.2,2.4c-0.8-0.2-1.5-0.9-1.8-1.8 C9.2,11,10.4,9.5,12,9.5z">
              </path>
              <rect class="st0" width="24" height="24"></rect>
            </g>
          </svg>

          <div
            class="absolute left-1/2 -translate-x-1/2 top-full mb-2 hidden group-hover:block w-max bg-black text-white text-xs rounded px-2 py-1">
            {{previewOn() ? 'Back to editing' : 'View Preview'}}

            <!-- Arrow pointing down -->
            <div
              class="absolute left-1/2 -translate-x-1/2 bottom-full h-0 w-0 border-l-4 border-r-4 border-b-4 border-l-transparent border-r-transparent border-b-black">
            </div>
          </div>

        </div>

        <div (click)="onSave()" class="me-2 p-2 relative group hover:cursor-pointer">

          <svg class="" width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M18.1716 1C18.702 1 19.2107 1.21071 19.5858 1.58579L22.4142 4.41421C22.7893 4.78929 23 5.29799 23 5.82843V20C23 21.6569 21.6569 23 20 23H4C2.34315 23 1 21.6569 1 20V4C1 2.34315 2.34315 1 4 1H18.1716ZM4 3C3.44772 3 3 3.44772 3 4V20C3 20.5523 3.44772 21 4 21L5 21L5 15C5 13.3431 6.34315 12 8 12L16 12C17.6569 12 19 13.3431 19 15V21H20C20.5523 21 21 20.5523 21 20V6.82843C21 6.29799 20.7893 5.78929 20.4142 5.41421L18.5858 3.58579C18.2107 3.21071 17.702 3 17.1716 3H17V5C17 6.65685 15.6569 8 14 8H10C8.34315 8 7 6.65685 7 5V3H4ZM17 21V15C17 14.4477 16.5523 14 16 14L8 14C7.44772 14 7 14.4477 7 15L7 21L17 21ZM9 3H15V5C15 5.55228 14.5523 6 14 6H10C9.44772 6 9 5.55228 9 5V3Z"
                fill="#0F0F0F"></path>
            </g>
          </svg>
          <!-- Tooltip container -->
          <div
            class="absolute left-1/2 -translate-x-1/2 top-full mb-2 hidden group-hover:block w-max bg-black text-white text-xs rounded px-2 py-1">
            Save

            <!-- Arrow pointing down -->
            <div
              class="absolute left-1/2 -translate-x-1/2 bottom-full h-0 w-0 border-l-4 border-r-4 border-b-4 border-l-transparent border-r-transparent border-b-black">
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>


@switch (previewOn()) {
@case (false) {
<div class=" bg-white h-full mx-3">

  <div class="border-b w-full ">
    <input type="text" [(ngModel)]="post().TITLE" class="w-full p-4 h-full title" placeholder="Title...">
  </div>
  <div class="w-full">
    <quill-editor (onEditorCreated)="populateBtn($event)" #editor [modules]="quillConfig" [customToolbarPosition]="'bottom'" [(ngModel)]="post().BODY" style="height: 400px;" class="w-full h-full">
      <div quill-toolbar>
        <button>mark recipie</button>
      </div>
    </quill-editor>
  </div>

</div>
}
@case (true) {
@defer{
<app-recipe-details [previewRecipe]="post()"></app-recipe-details>
}
}
}
