.container {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: white;
  height: 100%;
  width: 100%;
}


/* From Uiverse.io by PriyanshuGupta28 */
.toast {
  top: 0;
  right: 10%;
  color: #fff;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toast-icon svg {
  width: 30px;
  height: 20px;
  fill: #fff;
}

.toast-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
}


dialog {
  position: static;
  left: 40%;
  top: 25%;
}
