@import "tailwindcss";
@import '../node_modules/quill/dist/quill.snow.css';

body, html{
  height: 100%;
  width: 100%;
    margin: 0;
  padding: 0;
    background-color: #FCF0DF;

}

@font-face {
  font-family: 'Merriweather';
  src: url('../src/assets/fonts/merriweather/Merriweather_24pt_SemiCondensed-Bold.woff2') format('truetype');
  font-weight: bold;
}

.title {
  font-family: 'Merriweather', serif;
}
