@import "tailwindcss";
@import '../node_modules/quill/dist/quill.snow.css';
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body, html{
  height: 100%;
  width: 100%;
    margin: 0;
  padding: 0;
    background-color: #FAF3E3;

}

.charcoal {
  color: #3B2F2F;
}

.title  {
    font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: normal;
}
.averia-serif-libre-light {
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: normal;
}

.averia-serif-libre-regular {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.averia-serif-libre-bold {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: normal;
}

.averia-serif-libre-light-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: italic;
}

.averia-serif-libre-regular-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: italic;
}

.averia-serif-libre-bold-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: italic;
}


.title {
  font-family: 'Merriweather', serif;
}
