@import "tailwindcss";

body, html{
  height: 100vh;
  width: 100vw;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../src/assets/fonts/merriweather/Merriweather_24pt_SemiCondensed-Bold.woff2') format('truetype');
  font-weight: bold;
}

.title {
  font-family: 'Merriweather', serif;
}
