@import "tailwindcss";
@import '../node_modules/quill/dist/quill.snow.css';



/* global.css or inside @layer base */
p:empty::before {
  content: "\00a0"; /* non-breaking space */
  display: block;
  height: 1em; /* adjust spacing */
}


body, html{
  height: 100%;
  width: 100%;
    margin: 0;
  padding: 0;
    background-color: #FAF3E3;

}

.search-bar {
animation: slideDown 0.35s ease-out forwards;
}


@keyframes slideDown {
0% {
  transform: translateY(-10%);
  opacity: 0;
}
100% {
  transform: translateY(0%);
  opacity: 1;
}
}


/* From Uiverse.io by ahmedyasserdev */
.burger {
  display: inline-block;
  cursor: pointer;
  z-index: 1000;
}

.burger span {
  display: block;
  width: 30px;
  height: 3px;
  background: #333;
  margin: 6px 0;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    opacity 0.3s ease;
}

#burger-checkbox {
  display: none;
}

#burger-checkbox:checked + .burger span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#burger-checkbox:checked + .burger span:nth-child(2) {
  opacity: 0;
  transform: translateX(-20px);
}

#burger-checkbox:checked + .burger span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}


.resultsContainer {
  view-transition-name: resultsContainer;
}

.charcoal {
  color: #3B2F2F;
}

.title  {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fuzzy-bubbles-light {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fuzzy-bubbles-light-italic {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.fuzzy-bubbles-regular-italic {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fuzzy-bubbles-bold-italic {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: italic;
}


/* From Uiverse.io by dovatgabriel */
.three-body {
 --uib-size: 35px;
 --uib-speed: 0.8s;
 --uib-color: #5D3FD3;
 position: relative;
 display: inline-block;
 height: var(--uib-size);
 width: var(--uib-size);
 animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
 position: absolute;
 height: 100%;
 width: 30%;
}

.three-body__dot:after {
 content: '';
 position: absolute;
 height: 0%;
 width: 100%;
 padding-bottom: 100%;
 background-color: var(--uib-color);
 border-radius: 50%;
}

.three-body__dot:nth-child(1) {
 bottom: 5%;
 left: 0;
 transform: rotate(60deg);
 transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
 bottom: 0;
 left: 0;
 animation: wobble1 var(--uib-speed) infinite ease-in-out;
 animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
 bottom: 5%;
 right: 0;
 transform: rotate(-60deg);
 transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
 bottom: 0;
 left: 0;
 animation: wobble1 var(--uib-speed) infinite
    calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
 bottom: -5%;
 left: 0;
 transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
 top: 0;
 left: 0;
 animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
 0% {
  transform: rotate(0deg);
 }

 100% {
  transform: rotate(360deg);
 }
}

@keyframes wobble1 {
 0%,
  100% {
  transform: translateY(0%) scale(1);
  opacity: 1;
 }

 50% {
  transform: translateY(-66%) scale(0.65);
  opacity: 0.8;
 }
}

@keyframes wobble2 {
 0%,
  100% {
  transform: translateY(0%) scale(1);
  opacity: 1;
 }

 50% {
  transform: translateY(66%) scale(0.65);
  opacity: 0.8;
 }
}



/* .title {
  font-family: 'Merriweather', sans-serif;
} */
